@use "../base/index.scss" as *;
@use "sass:map";

.component-list {
  @include position(absolute, 50%, 50%, -50%, 10%, 1000);
  width: 70dvw;
  height: 70dvh;
  background: #fff;
  & div:nth-of-type(1) {
    & .title {
      &:hover,
      &:focus {
        color: map.get($color, summer);
      }
    }
  }

}
