@use "../base/index.scss" as *;
@use "sass:map";

.home {
  & .row1 {
  }
  & .row2 {
  }
  & .row3 {
  }
  & .row4 {
    background: map.get($color, _gray_subtle_3);
    height: fit-content;
    border-radius: 30px;
  }
  & .row5 {
  }
  & .row6 {
  }
  & .row7 {
  }
  & .row8 {
  }
}
