@use "../base/index.scss" as *;
@use "sass:map";

.home {
  & h1,
  & h2 {
    font-variant: small-caps;
  }
  & h1 {
    @include clamp(font-size, 1rem, 3vw, 2.5rem);
  }
  & .row1 {
    @include clamp(height, 10rem, 30vw, 20rem);
  }
  & .row2 {
  }
  & .row3 {
  }
  & .row4 {
    background: map.get($color, summer_subtle_2);
    @include clamp(height, 10rem, 30vw, 27rem);
    & h1 {
      color: map.get($color, summer);

      font-family: map.get($font, _italianno) !important;
    }
  }
  & .row5 {
    @include clamp(height, 10rem, 40vw, 40rem);
    background: map.get($color, summer_subtle);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _kaushan);
    }
  }
  & .row6 {
    @include clamp(height, 10rem, 25vw, 25rem);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _merienda);
    }
    & div:nth-of-type(2) {
      & .slick-arrow {
        &::before {
          color: map.get($color, summer);
        }
      }
    }
  }
  & .row7 {
    background: map.get($color, autumn_subtle);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _playwrite);
    }
    & div:nth-of-type(2) {
      & .ad-box {
        @include clamp(height, 10rem, 40vw, 20rem);
        // background: map.get($color, autumn);
      }
    }
  }
  & .row8 {
    background: map.get($color, autumn_subtle_2);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _berkshire);
    }
    & div:nth-of-type(2) {
      & .ad-box {
        @include clamp(height, 10rem, 45vw, 20rem);
        // background: map.get($color, autumn_subtle);
      }
    }
  }
  & .row9 {
    @include clamp(height, 10rem, 30vw, 25rem);
    background: map.get($color, summer_pink_subtle_2);
    & h1 {
      color: map.get($color, summer_pink);
      font-family: map.get($font, _big-shoulder);
    }
    & div:nth-of-type(2) {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 1)
      );
    }
  }
  & .row10 {
    @include clamp(height, 10rem, 30vw, 25rem);
  }
  & .row11 {
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _kaushan);
    }
    & div:nth-of-type(2) {
      & .ad-box {
        @include clamp(height, 10rem, 45vw, 20rem);
      }
    }
  }
  & .row12 {
    & h1 {
      color: map.get($color, summer_purple);
      font-family: map.get($font, _big-shoulder);
    }
  }
  & .row13 {
    & div:nth-of-type(1) {
      border: 1px solid map.get($color, summer);
      background: linear-gradient(
        to right,
        map.get($color, summer),
        rgb(255, 255, 255)
      );
      & h2:nth-of-type(2) {
        color: map.get($color, summer);
      }
    }
  }
  & .row14 {
    background: map.get($color, summer_pink_subtle_2);
    & div:nth-of-type(1) {
      & h1:nth-of-type(1) {
        color: map.get($color, summer_pink);
        font-family: map.get($font, _kaushan);
      }
      & h1:nth-of-type(2) {
        @include clamp(font-size, 0.5rem, 2vw, 1.5rem);
      }
    }
    & div:nth-of-type(2) {
      & .slick-arrow {
        &::before {
          color: map.get($color, summer_pink);
        }
      }
    }
    & div:nth-of-type(3) {
      & div {
        background: linear-gradient(
          to right,
          map.get($color, summer_pink),
          rgb(255, 255, 255)
        );
        border: 1px solid map.get($color, summer_pink);
        & h2:nth-of-type(2) {
          color: map.get($color, summer_pink);
        }
      }
    }
  }
  & .row15 {
    & h1 {
      color: map.get($color, summer_purple);
      @include clamp(font-size, 1rem, 3vw, 2.5rem);
      font-family: map.get($font, _big-shoulder);
    }
  }
  & .row16 {
    @include clamp(height, 10rem, 30vw, 25rem);
    background: map.get($color, summer_pink_subtle_2);
    & h1 {
      color: map.get($color, summer_pink);
      font-family: map.get($font, _big-shoulder);
    }
    & div:nth-of-type(2) {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 1)
      );
    }
  }
  & .row17 {
    @include clamp(height, 10rem, 30vw, 23rem);
  }
  & .row18{
    background: map.get($color, autumn_subtle);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _playwrite);
    }
    & div:nth-of-type(2) {
      & .ad-box {
        @include clamp(height, 10rem, 40vw, 20rem);
        // background: map.get($color, autumn);
      }
    }
  }
  & .row19{
    @include clamp(height, 10rem, 30vw, 25rem);
  }
  & .row20{
    @include clamp(height, 20rem, 55vw, 55rem);
    background: map.get($color, summer_pink_subtle);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _merienda);
    }
  }
  & .row21{
    @include clamp(height, 20rem, 40vw, 40rem);
    & h1 {
      color: map.get($color, summer);
      font-family: map.get($font, _merienda);
    }
  }
  & .row22{
    @include clamp(height, 10rem, 25vw, 23rem);
    background: map.get($color, autumn);
    & h1 {
      color: map.get($color, summer_pink);
      font-family: map.get($font, _merienda);
    }
  }
  & .row23{
    @include clamp(height, 15rem, 30vw, 28rem);
  }
  & .row24{
    @include clamp(height, 10rem, 25vw, 20rem);
  }
}
