@use './variable.scss' as *;
@use 'sass:map';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: map.get($font, _inter);
}
html, body{
    background: #fff;
    color: #000;
    position: relative;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}