@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Coral+Pixels&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Kaushan+Script&family=Merienda:wght@300..900&family=Playwrite+RO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

// Color
$color: (
    summer: #6fe6fc,
    summer_subtle: #6fe6fc50,
    summer_subtle_2: #d0f8ff7a,
    summer_blue: #0000ff,
    autumn: #fff200,
    autumn_subtle: #FFFDDA,
    autumn_subtle_2: #FFFDDA90,
    summer_pink: #F45589,
    summer_pink_subtle: #f6c0d2,
    summer_pink_subtle_2: #f6c0d260,
    summer_purple: #800080,
    footer: #3a4047,
    footer_subtle: #8c8d94,
    _white: #ffffff,
    _black: #03021a,
    _gray: #03021a99,
    _gray_subtle_1: #80808080,
    _gray_subtle_2: #80808050,
    _gray_subtle_3: #80808030,
    _gray_subtle_4: #80808010,
);

// Font
$font: (
    _poppins: "Poppins",
    _kaushan: "Kaushan Script",
    _winky: "Winky Sans",
    _big-shoulder: "Big Shoulders Inline" ,
    _berkshire: "Berkshire Swash",
    _italianno: "Italianno",
    _merienda: "Merienda",
    _playwrite: "Playwrite RO",
    _coral: "Coral Pixels",
    _courier: "Courier Prime",
    _inter: "Inter",
)